django==1.4.5
django-crispy-forms
-e git+https://github.com/bashu/django-contact-form.git#egg=django-contact-form
-e git+https://github.com/kmmbvnr/django-jenkins.git#egg=django-jenkins
pep8
pyflakes
